.about{
    background-color: #fafafa;
    padding: 60px 180px;
}
#artist{
    height: 700px;
}

@media (max-width:500px){
    .about{
        background-color: #fafafa;
        padding: 1px ;
        text-align: center;
    }

    .text-black{
        background-color: #fafafa;
        text-align: center;
        font-size: 16px!important;
    }
    .about__h5{
        margin: 5px!important;
        font-size: 20px !important;
    }

    h6{
        text-align: center;
        padding: 20px;
    }

    h5{
        text-align: center;
    }
}