
.Header{
    width:100%;
    position: sticky; 
    background-color:black;
    z-index: 100;
    top: 0;
 
}

a:hover{
    color: gold;
}

.navbar {
    background-color:black;
    color: white;
    display: flex;
 }

 .Header__home{
    outline: none;
    text-decoration: black;
 }
#nav__item:hover{
     color: gold;
 }

.nav-link {
    color: white;
    font-family: 'Proza Libre', sans-serif;
    font-size: medium;
    display: flex;
    padding-right: 20px;
    /* flex: 1; */
    justify-content: flex-end;
}
.Navbar:hover{
    color: gold;
}

  @media (max-width:500px){
    .img{
        display: none;
      }   
      
}