    @media (max-width: 768px){

        .sc-khAkCZ .cSwLRL {
            margin: auto;
            justify-content: center!important;
            min-height: 0px;
        }
        .Container__login{
         margin-left: 10px;
         font-size:12px;
        }
    
    }
